
<header class="w-full bg-white flex justify-between items-center px-6 py-4">
  <a href="/"> 
    <img src="/assets/favicon.ico" alt="logo"/>
  </a>
  
  <nav>
    <ul role="list" class="flex gap-10 font-semibold text-base">
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="/blog/">Blog</a>
      </li>
    </ul>
  </nav>
</header>