.back-body{
    /*background:linear-gradient(#cffaff,#94c0ff) ;*/
    background: linear-gradient(to bottom, #e7eff6 0%, #adcbe3 100%);
    /*background: url("https://cdn.pixabay.com/photo/2018/01/01/16/05/nature-3054445_1280.jpg");*/
    height: 100vh;
}


.display-image {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}
.display-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

