.back-body{
    background: linear-gradient(to bottom, #e7eff6 0%, #adcbe3 100%);
    height: 100vh;
    font-family: "Cabin Sketch";
}


.display-image {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
}
.display-image img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}

.ban{
    position: absolute;
    background-color: rgba(176, 204, 227, 0.5);
    user-select: none;
    pointer-events: none;
    padding: 50px;

    /*not yet responsive*/
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

