.back-body {
    background: linear-gradient(to bottom, #e7eff6 0%, #adcbe3 100%);
    min-height: 100vh;
    font-family: "Cabin Sketch";
}



.background-particle {
    position: absolute;
    width: 100%;
    height: 100%;

}



